[Location]
# Write your location in free text. lng/lat will be ignored if freetext is supplied
location.freetext=
# If freetext is not supplied, please add longitude and latitude otherwise the script will be inacurate
# longitude & latitude can be obtain here: https://www.latlong.net
workplace.longitude=
workplace.latitude=

[Push]
# Using Apprise you can send notifications in mulriple channels.
# Read here for more details: https://github.com/caronc/apprise
push.notifiers=

[General]
# For use of wsl-notify-send.exe from https://github.com/stuartleeks/wsl-notify-send/
# In case you are using WSL of course. Path is in the form of /mnt/g/utils/ ...
wsl.notification.path=